DATABASE_USER=matteo
DATABASE_NAME=whereisclara
DATABASE_URL="postgresql://${DATABASE_USER}@localhost:5432/${DATABASE_NAME}"
VESSEL_MMSI=
PROXY_URL=
# Periodically fetch new track data from VesselFinder. Defaults to true.
POLLING_ENABLED=true
